.calculator {
    width: 70%;
    box-sizing: border-box;
    margin: 2% auto;
    padding: 1% 2%;
    border: 1px solid #999;
    border-radius: 30px;
    background-color: white;
    font-family: "Noto Serif TC", serif;
}

.calculator h3 {
    margin: 1% 0;
    padding: 0;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
}

.calculator form {
    text-align: left;
}

.calculator p span {
    font-size: 1rem;
    font-weight: 300;
    border-bottom: 1px solid #333;
    border-width: auto;
}

.inputContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.inputRow {
    width: 90%;
    font-size: 1rem;
}

.inputRow input {
    display: inline-block;
    width: auto;
    font-size: 1rem;
}

.inputRow button {
    height: 100%;
    background-color: white;
    border: 1px solid #999;
    font-size: 1rem;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
    margin: 0% 2%;
}

.inputRow button:disabled {
    display: none;
}

.submit {
    text-align: center;
}

.submit button {
    width: 20%;
    margin: 1% auto;
    margin-top: 2%;
    padding: 1.5% 0;
    outline: 0;
    font-size: 1rem;
    border: 1px solid #888;
    border-radius: 15px;
    background-color: rgb(255, 248, 239);
}

.submit button:hover,
.submit button:active {
    background-color: rgb(248, 196, 129);
    transition: 0.2s ease-out;
    font-weight: 400;
    cursor: pointer;
}

.submit button:active {
    outline: 0;
    box-shadow: 2px 2px 5px #999;
    transition: 0.2s;
}

@media (max-width: 700px) {
    .inputContainer {
        flex-direction: column;
        justify-items: flex-start;
        padding: 1%;
    }

    .inputFields {
        padding: 2% 0;
        width: 90%;
    }
}