.electiveInput {
    width: 90%;
    padding: 2% 2%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family: "Noto Serif TC", serif;
}

.dropdown {
    padding: 0.75rem;
    height: 100%;
    font-size: 1rem;
    font-family: "Noto Serif TC", serif;
    background-color: white;
}

.electiveFields {
    width: 50%;
    box-sizing: border-box;
    padding: 0 2%;
    font-size: 1rem;
    font-family: "Noto Serif TC", serif;
}

.electiveFields input {
    display: inline-block;
    height: auto;
    width: 50%;
    font-size: 1rem;
    padding: 2% 3%;
    border: 1px solid black;
    border-radius: 5px;
}

@media (max-width: 700px) {
    .electiveInput {
        flex-direction: column;
    }

    .electiveFields {
        width: 100%;
        padding-top: 2%;
    }
}