.resultPage {
    width: 90%;
    margin: 2% auto;
    padding-bottom: 2%;
    border: 1px solid #999;
    border-radius: 30px;
    background-color: white;
    font-family: "Noto Serif TC", serif;
}

.resultPage h3 { text-align: center; }


.uniSelect, .categorySelect {
    display: flex;
    margin: 1rem auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    box-sizing: border-box;
}

.uniSelect button {
    box-sizing: border-box;
    display: inline-block;
    flex-shrink: 0;

    border: 1px solid darkgray;
    border-radius: 10px;
    width: 20%;
    height: 120px;
    margin: 10px 2%;
    padding: 5px;
    transition: 0.3s ease-out;
    cursor: pointer;
    background-color: white;
}

.uniSelect button h3 {
    font-weight: 400;
    font-size: 1rem;
    font-family: "Noto Serif TC", serif;
    text-align: center;
    margin: 0;
}

.uniSelect img {
    max-height: 75%;
    max-width: 100%;
}

.uniSelect button:hover,
.uniSelect button:active,
.uniSelect button.selected {
    box-shadow: 2px 2px rgba(180, 180, 180, 0.5);
    background-color: rgba(253, 212, 100, 0.5);
}

.categorySelect button {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    display: inline-block;
    flex-shrink: 0;
    width: 25%;
    transition: 0.3s ease-out;
    cursor: pointer;
    background-color: white;
    border: 0;
    border-bottom: 1px dotted gray;

    font-weight: 400;
    font-size: 1rem;
    font-family: "Noto Serif TC", serif;
    text-align: center;
}

.categorySelect button:hover {
    border-bottom: 1px solid darkgray;
}

.categorySelect .selected,
.categorySelect .selected:hover {
    border: 1px solid darkgray;
    border-radius: 1rem;

    box-shadow: 2px 2px rgba(180, 180, 180, 0.5);
    background-color: rgba(253, 212, 100, 0.5);
    transition: none;
}

@media (max-width: 700px) {
    .uniSelect button {
        width: 40%;
    }

    .calMethod {
        display: none;
    }
}