.inputFields {
    width: auto;
    box-sizing: border-box;
    padding: 2% 2%;
    font-size: 1rem;
    font-family: "Noto Serif TC", serif;
}

.inputFields label {
    font-size: 1rem;
}

.inputFields input {
    display: inline-block;
    width: 50%;
    font-size: 1rem;
    padding: 2% 3%;
    border: 1px solid black;
    border-radius: 5px;
}

@media (max-width: 800px) {
    .inputFields {
        padding: 2% 0;
        width: 90%;
    }

    .inputFields label {
        font-size: 1rem;
    }
}